body {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  text-align: center;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: auto;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border: #637074 solid 0.05rem;
  border-radius: 0.15rem;
  box-shadow: 0.001rem 0.001rem 0.008rem 0.033rem grey;
  overflow: auto;
}
.item {
  margin-top: 1rem;
  display: flex;
}
.item_input {
  margin-right: 3rem;
  overflow: hidden;
  width: 10rem;
  height: 2.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  font-weight: bold;
  font-size-adjust: 0.5rem;
  align-self: center;
  outline: none;
  color: #323232;
}
.removeButton {
  background-color: #fff;
  padding: 0.5rem;
  color: #323232;
  border: 0.1rem solid #3d3d3d;
  width: 15%;
  border-radius: 0.5rem;
  align-self: center;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size-adjust: 0.5rem;
  outline: none;
  margin: 0.3rem;
  margin-top: 1.5rem;
}
.removeButton:hover {
  background-color: #16425b;
  border: 0.1rem solid #16425b;
  color: #fff;
  cursor: pointer;
}
.size {
  width: 4rem;
  height: 6rem;
  margin-right: 1rem;
  margin-left: 2rem;
  border: #323232 solid 0.01rem;
}
.export_buttons {
  text-align: center;
  margin-bottom: 2rem;
}
.export_buttons button {
  background-color: #fff;
  padding: 0.5rem;
  color: #323232;
  border: 0.1rem solid #3d3d3d;
  width: 15%;
  border-radius: 0.5rem;
  align-self: center;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size-adjust: 0.5rem;
  outline: none;
  margin: 0.3rem;
  margin-top: 1.5rem;
  overflow: auto;
}
.export_buttons button:hover {
  background-color: #16425b;
  color: #fff;
  cursor: pointer;
  border-color: #16425b;
}
@media (max-width: 450px) {
  .export_buttons button {
    width: 10%;
  }
}
