.pop_button {
  font-size: 1em;
  padding: 10px;
  color: #637074;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.pop_button:hover {
  color: #16425b;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 0.02rem solid #637074;
  border-radius: 0.2rem;
  z-index: 10;
  background-color: #fff;
  width: 100rem;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .title {
  font-size: 2.5rem;
  font-weight: bold;
}
.modal .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: #637074;
  transition: 500ms;
}
.modal .close-button:hover {
  color: #16425b;
}
.modal-body {
  padding: 3rem 3rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: 2;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
