body {
  background-color: #e6e6e6;
}

.formCont > form {
  transition: 1s;
  overflow: auto;
  box-shadow: 0.001rem 0.001rem 0.008rem 0.033rem grey;
  border: #637074 solid 0.05rem;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  /* align: center;
    justify-content: center; */
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #c5c5c4;
  /* margin-left: 25%;
    margin-right: 25%; */
  /* background-color: red; */
}

.formCont > img {
  grid-column-start: 3;
  grid-row-start: 2;
  height: 400px;
  width: auto;
  max-width: 90%;
}

.formCont {
  grid-gap: 10%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: [margin-left] 0.4fr [form] 2fr [photo] 3fr;
  /* grid-template-rows: 1; */
  grid-template-rows: [margin-top] 0.2fr [picture] 1fr;
  align-content: center;
  justify-content: center;
}

.inpText {
  padding: 8px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: "Arial", Times, serif;
  margin: 20px;
  border: 2px solid gray;
  font-size: 18px;
  background-color: rgb(224, 223, 223);
  border-radius: 15px;
  font-weight: bold;
}

.inpSub {
  background-color: #fff;
  padding: 0.5rem;
  color: #323232;
  border: 0.1rem solid #3d3d3d;
  width: 25%;
  border-radius: 0.5rem;
  align-self: center;
  transition-duration: 0.2s;
  font-weight: bold;
  font-size-adjust: 0.5rem;
  outline: none;
  margin-top: 1rem;
  overflow: auto;
}

.inpSub:hover {
  background-color: #16425b;
  color: #fff;
  cursor: pointer;
  border-color: #16425b;
}

.uplBut {
  align-self: center;
}

/* .uplBut {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn {
border: 2px solid gray;
color: gray;
background-color: white;
padding: 8px 20px;
border-radius: 8px;
font-size: 20px;
font-weight: bold;
} */

/* .btn:active {
    color: rgb(102, 101, 101);
    background-color: saddlebrown;
}
.btn:hover {
    color: green;
    background-color: red;
}
.uplBut input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
} */
