body {
  background-color: #e6e6e6;
}

.formCont > form {
  
  border: 5px ridge rgb(71, 70, 70);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  /* align: center;
    justify-content: center; */
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #d4d4d3;
  /* margin-left: 25%;
    margin-right: 25%; */
  /* background-color: red; */
}

.formCont > img {
  grid-column-start: 3;
  grid-row-start: 2;
  height: 400px;
  width: auto;
  max-width: 100%;
}

.formCont {
  grid-gap: 10%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: [margin-left] 0.5fr [form] 1fr [spc] 1fr [photo] 1fr;
  /* grid-template-rows: 1; */
  grid-template-rows: [margin-top] 0.2fr [picture] 2fr;
  align-content: center;
  justify-content: center;
}

.inpText {
  padding: 5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  font-family: "Arial", Times, serif;
  margin: 20px;
  border: 2px solid gray;
  font-size: 18px;
  background-color: transparent;
  border-radius: 15px;
  font-weight: bold;
}

.inpSub {
  border-radius: 10px;
  margin: 10px;
  border: 0 hidden black;
  width: 50%;
  align-self: center;
}

.uplBut {
  align-self: center;
}

/* .uplBut {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn {
border: 2px solid gray;
color: gray;
background-color: white;
padding: 8px 20px;
border-radius: 8px;
font-size: 20px;
font-weight: bold;
} */

/* .btn:active {
    color: rgb(102, 101, 101);
    background-color: saddlebrown;
}
.btn:hover {
    color: green;
    background-color: red;
}
.uplBut input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
} */
